*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Press Start 2P", cursive;
  font-size: 1.6rem;
  padding: 4rem;
  background-color: #201f20;
  color: #e4e3e4; }
