// GLOBAL RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // This is so that if we want a whole component to use a certain box-sizing system, we only have to declare it in the oldest parent of the component for the children to inherit
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // This sets the default font-size to 10px because most broswers default to 16px, and 62.5% of 16 is 10. This makes it easier to use rem units.

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-smallest) {
    font-size: 46.25%;
  }
  @media only screen and (max-width: $bp-phone) {
    font-size: 40%;
  }
}

body {
  height: 100vh;
  font-family: $default-font;
  font-size: 1.6rem;

  background-color: $color-primary;
  color: $color-secondary;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

::selection {
  background-color: transparentize($color-secondary, 0.2);
  color: $color-primary;
}
