$default-font: 'Press Start 2P', cursive;
$color-primary: #201f20;
$color-secondary: #e4e3e4;

$section-gutter: 1.25rem;

// RESPONSIVE BREAKPOINTS
// ----------------------- (x / 16) where x = desired breakpoint in px
$bp-largest: 75em; // ---- 1200px
$bp-large: 56.25em; // -- 900px
$bp-medium: 50em; // -- 800px
$bp-small: 37.5em; // ---- 600px

$bp-smallest: 31.25em; // ---- 500px
$bp-phone: 25em; // ---- 400px
